/* Navbar itself */
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    gap: 7vw;
    height: 88px;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
}

/* Navbar icon */
.logo img{
    width: 170px;
    height: 120px;
}

/* For all the quick access links in navbar */
nav a{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

/* This will happen if I hover on the navbar links. */
nav a:hover{
    color: rgb(34, 109, 91);
}

/* navbar last two buttons (Log in and Sign up) */
#nav_end{
    display: flex;
    gap: 2vw;
}

/* Navbar Log in button */
#loginBtn{
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 50px;
    border: 1px solid black;
    border-radius: 150px 150px 150px 150px;
    background: none;
}

/* Navbar Log in button hover effect */
#loginBtn:hover{
    background-color: rgba(38,126,107);
    color: white;
    border: none;
    cursor: pointer;
}

/* Navbar Sign up button */
#signupBtn{
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 150px 150px 150px 150px;
    background: none;
    background-color: rgba(38,126,107);
}

/* Navbar Sign up button hover effect */
#signupBtn:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}

/* Declaring a custom class which will work only when I use it to change the background of navbar. */
.active_nav {
    background-color: rgba(255,216,93);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}

/* The class made by Font awesome website. Since, I have used it for some icons. */
.nav_links .fa-solid{
    /* position: relative;
    top: 0px; */
    margin-left: 5px;
}

#header_post_navbar{
    max-width: 100%;
    display: flex;
    width: 100vw;
}

#header_banner img{
    width: 49vw;
    height: 870px;
}

#header_texts{
    padding-left: 55px;
    padding-top: 200px;
}

#span{
    color: rgba(38,126,107);
}

#header_texts div:nth-child(1){
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 3.3rem;
    line-height: 1.2;
    width: 78%;
    color: rgb(85, 76, 76);
    margin-bottom: 25px;
}

#header_texts div:nth-child(2){
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2;
    width: 79%;
    margin-bottom: 55px;
}

#jointodayBtn{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(38,126,107);
    height: 50px;
    width: 150px;
    border-radius: 150px 150px 150px 150px;
    border: none;
}

#jointodayBtn:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}

/* Virtual Care Body */
#VirtualCareBody{
    max-width: 100%;
    display: flex;
    width: 100vw;
    /* border: 1px solid red; */
}
#VirtualCareBody>div:nth-child(1){
    width: 49vw;
}
#VirtualCareBody>div:nth-child(2){
    margin-top: 150px;
    margin-left: 95px;
    width: 40vw;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1.1em;
    line-height: 1.8em;
}

#VirtualCareBody>div:nth-child(1)>img{
    width: 100%;
}

#VirtualCareBody .fa-solid{
    color: rgba(38,126,107);
    margin-right: 7px;
}

#VirtualCareBtn:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}
#VirtualCareBtn{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(38,126,107);
    height: 50px;
    width: 150px;
    border-radius: 150px 150px 150px 150px;
    border: none;
    margin-top: 11vh;
}

#VirtualCareHeadLine{
    max-width: 100%;
    width: 100vw;
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
#VirtualCareHeadLine>p:nth-child(1){
    font-weight: 550;
    font-size: 2.7em;
    margin-bottom: 2px;
    color: rgb(53, 50, 50);

}
#VirtualCareHeadLine>p:nth-child(2){
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1.1em;
    line-height: 1.8em;
    color: rgb(27, 27, 27);
}

#expDiv{
    margin-top: 70px;
}

#expHeading{
    display: grid;
    justify-content: center;
    text-align: center;
}

#expHeading h3{
    font-size:3em;
    color: rgb(27, 27, 27);
    margin-top: 0px;
}

#expHeading h5{
    font-weight: 600;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;

}
#expVid{
    display: flex;
    justify-content: center;
    background-color: rgba(222,235,233);
}

iframe{
    width: 90vw;
    height: 800px;
}

/* For Business */
#forBusinessBody{
    display: flex;
    max-width: 100vw;
}

#forBusinessBody>div:nth-child(1){
    width: 80%;
    text-align: left;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 28px;
}

#forBusinessBodyImg{
    width: 100%;
    height: 100%;
}

#forBusinessHead{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    text-align: center;
}

#forBusinessHead>h5{
    font-weight: 600;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

#forBusinessHead>h3{
    font-size:3em;
    color: rgb(27, 27, 27);
    margin-top: 0px;
}

#forBusinessHead>p{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size:1.3em;
    margin-top: -20px;
    margin-bottom: 70px;
}

.percentageDivs{
    width: 69%;
}

.percentageDivs h1{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 600;
    font-size: 2rem;
    color: #267E6B;
}

.percentageDivs p{
    color: #2C333F;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 300;
    line-height: 1.4286;
    font-size: 14px;
}

#businessBtn{
    margin-top: 28px;
    margin-bottom: 26px;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgba(38,126,107);
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 150px 150px 150px 150px;
    border: 1px solid rgba(38,126,107);
}

#businessBtn:hover{
    background-color: rgba(38,126,107);
    color: white;
    cursor: pointer;
}

#forBusinessLeftBottom{
    line-height: 0.6;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    color: #2C333F;
    font-size: 0.8em;
}

#rightCareHeading{
    text-align: center;
    margin-top: 100px;
    margin-bottom: -15px;
}

#rightCareHeading>h3{
    font-size:3em;
    color: rgb(27, 27, 27);
    margin-top: 0px;
}

#rightCareHeading>p{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size:1.3em;
    margin-top: -20px;
    margin-bottom: 70px;
}

#rightCareBody{
    display: flex;
    max-width: 100vw;
    border: 1px solid green;
}

#rightCareBody>div:nth-child(1){
    width: 49vw;
    border: 1px solid red;
    object-fit: contain;

}

#rightCareBody>div:nth-child(1) img{
    width: 100%;
}
/* #uponMedmScreen{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    visibility: hidden;
} */

/* #menuBar>a{
    width: 80px;
    height: 100px;
} */


/* ------------------------------------------------------
---------------------- Media Query ----------------------
medium screens
@media all and (min-width:651px) and (max-width:1024px) {} */

/* small screens
@media all and (min-width:320px) and (max-width:650px) {} 
-----------------------------------------------------------*/

/* @media all and (min-width:651px) and (max-width:1024px) {
    nav a{
        visibility: hidden;
    }
    #nav_end{
        visibility: hidden;
    }
    #uponMedmScreen{
        visibility: visible;
    }
} */