/* Navbar itself */
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    gap: 7vw;
    height: 88px;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
}

/* Navbar icon */
.logo img{
    width: 170px;
    height: 120px;
    cursor: pointer;
}

/* For all the quick access links in navbar */
nav a{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

/* This will happen if I hover on the navbar links. */
nav a:hover{
    color: rgb(34, 109, 91);
}

/* navbar last two buttons (Log in and Sign up) */
#nav_end{
    display: flex;
    gap: 2vw;
}

/* Navbar Log in button */
#loginBtn{
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 50px;
    border: 1px solid black;
    border-radius: 150px 150px 150px 150px;
    background: none;
}

/* Navbar Log in button hover effect */
#loginBtn:hover{
    background-color: rgba(38,126,107);
    color: white;
    border: none;
    cursor: pointer;
}

/* Navbar Sign up button */
#signupBtn{
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 150px 150px 150px 150px;
    background: none;
    background-color: rgba(38,126,107);
}

/* Navbar Sign up button hover effect */
#signupBtn:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}

/* Declaring a custom class which will work only when I use it to change the background of navbar. */
.active_nav {
    background-color: rgba(255,216,93);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}

/* The class made by Font awesome website. Since, I have used it for some icons. */
.fa-solid{
    position: relative;
    top: 1px;
    margin-left: 5px;
}