nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    gap: 11vw;
    height: auto;
    justify-content: center;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    transition: 200ms ease-in-out background-color;
}
nav>div:nth-child(2){
    display: flex;
    gap: 7vw;
}
#navbarLinksSet{
    display: flex;
    gap: 4vw;
}

/* Navbar icon */
.logo img{
    width: 170px;
    height: 95px;
    margin-left: 4vw;
}

.logo img:hover{
    cursor: pointer;
}

/* For all the quick access links in navbar */
.nav_links{
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

/* This will happen if I hover on the navbar links. */
.nav_links:hover{
    color: rgb(34, 109, 91);
    cursor: pointer;
}

/* navbar last two buttons (Log in and Sign up) */
#nav_end{
    display: flex;
    gap: 2vw;
    margin-right: 2vw;
}

/* Navbar Log in button */
#loginBtn{
    font-size: 14px;
    font-weight: bold;
    /* width: 7.5vw; */
    width: 95px;
    /* height: 4vw; */
    height: 50px;
    border: 1px solid black;
    border-radius: 150px 150px 150px 150px;
    background: none;
}

/* Navbar Log in button hover effect */
#loginBtn:hover{
    background-color: rgba(38,126,107);
    color: white;
    border: none;
    cursor: pointer;
}

/* Navbar Sign up button */
#signupBtn{
    font-size: 1.1vw;
    font-weight: bold;
    /* width: 7.5vw; */
    width: 95px;
    /* height: 4vw; */
    height: 50px;
    border: none;
    color: white;
    border-radius: 150px 150px 150px 150px;
    background: none;
    background-color: rgba(38,126,107);
    margin-right: 4vw;
}

/* Navbar Sign up button hover effect */
#signupBtn:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}

/* Declaring a custom class which will work only when I use it to change the background of navbar. */
.active_nav {
    background-color: rgba(255,216,93);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
}

/* The class made by Font awesome website. Since, I have used it for some icons. */
.nav_links .fa-solid{
    /* position: relative;
    top: 0px; */
    margin-left: 0.3vw;
}

#main1{
    width: 100%;
    display: flex;
    
}
#left1{
    width: 50%;
    height: 650px;
   

}
#right1{
    width: 50%;
    height: 650px;
   
    

}
#left1>div{
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    margin-top: 150px;

}
#left1>div>h1{
    font-size: 50px;
    margin-top: -5px;
}
#explore{
    height: 60px;
    width: 60%;
    border-radius: 30px;
    background-color:  rgba(38,126,107);
    border: 0px;
    color: white;
    font-family: sans-serif;

}
#explore:hover{
    background-color: rgb(11, 72, 61) ;
}
#right1>img{
    width: 100%;
    height: 650px;
}
#join>div{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 90px;           
}
#join>div>h1{
    font-family: sans-serif;
    font-size: 50px;

}
#department{
    width: 100%;
   
    
    display: flex;
    background-color: rgba(255,216,93);
    text-align: center;
    margin-top: 70px;

}
#left2{
    width: 50%;
    height: 700px;
   


}
#left2>h2{
    margin-top: 60px;
    font-family: sans-serif;
    font-size: 35px;
}
#right2{
    padding-top: 1px;
    width: 50%;
    border-left: 1px solid black;
   
    
    

    
}
#right2>h2{
    margin-top: 70px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Footer */
.footer {
    display: flex;
    background-color: #2c333f;
    color: white;
    padding: 0.5% 2%;
    height: auto;
    margin-top: 12vw;
  }
  .footer > div {
    margin: 3%;
  }
  .left_div {
    width: 45%;
  }
  .leader-name {
    font-size: 30px;
  }
  .fast {
    font-size: 1em;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 300;
    line-height: 1.4286;
  }
  .email {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
  }
  .post {
    margin-top: 25px;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    text-decoration: none;
  }
  .post > a {
    color: white;
  }
  .right_div {
    width: 55%;
    padding-top: 15px;
  }
  .table {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
  }
  .td {
    width: 30%;
    margin-top: -15px;
  }
  .smooth {
    margin-left: 0px;
    color: white;
  }
  .stamp_last {
    margin: 20px 0px;
  }
  .line {
    width: 90%;
    margin-top: 0px;
  }
  .hr_div {
    height: 110px;
    background-color: #2c333f;
    margin-top: 1px;
    display: flex;
    padding-top: 30px;
    padding-left: 3vw;
  }
  .hr_div a {
    color: white;
  }
  .hr_div > div {
    display: flex;
  }
  .hr_div > div > a {
    margin-left: 20px;
  }
  .hr_div > div:nth-child(2) {
    margin-left: 45%;
  }
  .post_phon_no_line{
      font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
      font-weight: 300;
      line-height: 1.5;
      font-size: 0.9em;
      margin-right: 5.7vw;
      margin-top: 3vw;
  }
  .leader_name_foot{
      font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
      font-weight: 600;
      font-size: 1.4em;
  }
  .social_icon{
      font-size: 1.8em;
      display: flex;
      gap: 2vw;
      margin-top: 2.8vw;
      margin-bottom: 2vw;
  }
  .face{
      color: white;
  }
  .post_phon_no{
      font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
      font-size: 0.9em;
      margin-bottom: 1.5vw;
      line-height: 1.5;
  }
  .post_phon_no a{
      color: white;
  }
  .post_phon_no i{
      color: white;
  }
  .privacy{
      font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
      font-size: 0.9em;
  }