@import url('db.onlinewebfonts.com/c/758d40d7ca52e3a9bff2655c7ab5703c?family=Cambria');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('http://fonts.cdnfonts.com/css/georgia');
@import url('http://fonts.cdnfonts.com/css/times-new-roman');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo_img{
    height: 40px;
}

img{
   
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#body-container{
    width: 97%;
    margin: auto;
}

#heading{
    display: flex;
    flex-wrap: wrap;
    height: 850px;
    
}

#heading>div{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: left;
    
}

#heading>div:nth-child(1){
    padding: 0 3%;
}
.page_name{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    margin: 0px 10px;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 12px;
}
#tagline{
    font-family: 'Times New Roman', ui-serif;
    display: block;
    font-weight: 100;
    margin: 10px 10px;
    font-size: 68px;
    text-decoration: none solid rgb(44,51,63);
    line-height: 76px;
}

#colored_tagline{
    color: #267E6B;
}

#des{
    margin: 20px 10px;
    font-size: 18px;
    line-height: 32.004px;
}

#get_started{
    margin: 50px 10px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
    height: 52px;
    width: 140px;
    border-radius: 26px;
    cursor: pointer;
    border: solid 1px #267E6B;
    color: #fff;
    background-color: #267E6B;
    padding: 18px 28px;
}

.break_space{
    height: 100px;
    width: 100;
    background-color: #fff;
    z-index: 1;
}

#comparison_chart_box{
    display: block;
    background-color: #FFD85D;
    padding: 50px 150px 100px 150px;
}

.title{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    padding: 50px 0;
}

#comparison_chart{
    background-color: #FFF3CE;
    padding: 15px 15px;
}

.comparison_chart_row{
    display: flex;
}

.comparison_chart_topic{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
}

.comparison_chart_image{
    width:200px;
    height: 54px;
    margin-right: 10px;
    color: #267E6B;
    font-weight: 600;
    font-size: 18px;
}

.comparison_chart_image_other{
    width: 200px;
    height: 54px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    
}

hr{
    border: solid 0.1px;
    margin: 0;
    padding: 0;
}

#options{
    padding: 20px;
}

#options>h1{
    padding: 20px;
}

#options>p{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

#option_cards_container{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 50px 0;
    justify-content: space-between;
}

.option_card{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.option_card>img{
    height: 80px;
    width: 77px;
    margin: 20px 0;
}

.option_card>h2{
    color: #267E6B;
    padding: 20px 0;
}

.option_card>p{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

#video_container>h4{
    text-align: center;
}

#video_container>.title{
    padding-top: 5px;
}

#video_box{
    padding: 50px 100px;
    background-color: #DEEBE9;
}

iframe{
    width: 100%;
    height: 100vh;
    margin: auto;
}

#option_details>.title{
    padding-bottom: 10px;
}

#option_details>p{
    text-align: center;
}

.option_details_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.option_details_card>div{
    width: 45%;
    min-width: 400px;
    margin: auto;
}

.option_details_card img{
    width: 100%;
}

.option_details_card_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option_details_card .title{
    color: #267E6B;
}

.option_details_card ul {
    padding: 50px 20px;
    font-weight: 600;
    font-size: 18px;
}

.option_details_card button{
    width: 200px;
    padding: 18px 28px;
    border-radius: 28px;
    border: 1px solid #267E6B;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 14px;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.option_details_card button:hover{
    background-color: #267E6B;
    transition: 0.5s ease-in;
    color: #fff;
}

#your_journey{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

#your_journey>div{
    display: flex;
    min-width: 500px ;
    flex-direction: column;
    width: 47%;
    padding: 0 50px;
}

#your_journey>hr{
    border: 1px solid black;
    z-index: -2;
}

#your_journey img{
  
   height: 30vh;
   padding: 20px 0 0 0;
   margin: 0 auto;
}

#your_journey h4{
    margin: 0 auto;
    padding: 60px 0;
    width: 400px;
    font-weight: 100;
    color: #267E6B;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Gabriela',ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
}

#your_journey_right>h4{
    margin: 0;
    padding: 30px 0;
}

#your_journey_right>#para{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 400px;
    height: 72px;
    margin-bottom: 50px;
}

#your_journey_right>.page_name{
    margin: 0px;
}

.circle{
    position: relative;
    left: -61px;
    top: -12px;
    width: 20px;
    height: 20px;
    background-color: #267E6B;
    border: none;
    border-radius: 50%;
    z-index: -1;
}

#second{
    top: 17px
}

#third{
    top:-70px
}

#fourth{
    top: 125px;
}

#fifth{
    top:65px;
}

#sixth{
    top: 65px;
}

.footer {
    display: flex;
    background-color: #2c333f;
    color: white;
    padding: 0.5% 2%;
    height: auto;
    margin-top: 12vw;
  }
  .footer > div {
    margin: 3%;
  }
  .left_div {
    width: 45%;
  }
  .leader-name {
    font-size: 30px;
  }
  .fast {
    font-size: 1em;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 300;
    line-height: 1.4286;
  }
  .email {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
  }
  .post {
    margin-top: 25px;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    text-decoration: none;
  }
  .post > a {
    color: white;
  }
  .right_div {
    width: 55%;
    padding-top: 15px;
  }
  .table {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
  }
  .td {
    width: 30%;
    margin-top: -15px;
  }
  .smooth {
    margin-left: 0px;
    color: white;
  }
  .stamp_last {
    margin: 20px 0px;
    width: 130px;
    height: 130px;
  }
  .line {
    width: 90%;
    margin-top: 0px;
  }
  .hr_div {
    height: 110px;
    background-color: #2c333f;
    margin-top: 1px;
    display: flex;
    padding-top: 30px;
    padding-left: 3vw;
  }
  .hr_div a {
    color: white;
  }
  .hr_div > div {
    display: flex;
  }
  .hr_div > div > a {
    margin-left: 20px;
  }
  .hr_div > div:nth-child(2) {
    margin-left: 45%;
  }
  .post_phon_no_line{
      font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
      font-weight: 300;
      line-height: 1.5;
      font-size: 0.9em;
      margin-right: 5.7vw;
      margin-top: 3vw;
  }
  .leader_name_foot{
      font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
      font-weight: 600;
      font-size: 1.4em;
  }
  .social_icon{
      font-size: 1.8em;
      display: flex;
      gap: 2vw;
      margin-top: 2.8vw;
      margin-bottom: 2vw;
  }
  .face{
      color: white;
  }
  .post_phon_no{
      font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
      font-size: 0.9em;
      margin-bottom: 1.5vw;
      line-height: 1.5;
  }
  .post_phon_no a{
      color: white;
  }
  .post_phon_no i{
      color: white;
  }
  .privacy{
      font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
      font-size: 0.9em;
  }
  
  
/* Media Queries */

@media screen and (max-width:1100px) {
    #heading{
        flex-direction: row;
        background-color: #FFD85D;
        margin-top: 100px;
        
    }

    #heading>div{
        width: 100%;
        height: 100%;
    }

    #comparison_chart{
        width: 100%;
    }

    #comparison_chart_box{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 700px 50px;
    }

    .option_details_card_button{
        margin: 50px 0;
    }

    #your_journey{
        flex-direction: column-reverse;
    }
}
